body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background: #111;
    color: white;
}

h1{
    color: crimson;
    text-shadow: 2px 2px 6px black;
    font-size: 36px;
}

h2{
    color: lightskyblue;
    text-shadow: 2px 2px 6px black;
    font-size: 28px;
}

p{
    max-width: 5000px;
    margin: 10px;
    line-height: 1.6;
    font-size: 20px;
}

li{
    max-width: 5000px;
    margin: 10px;
    line-height: 1.6;
    font-size: 18px;
}

img{
    margin: 10px;
    border-radius: 15px;
    border: 2px solid white;
}

a{
    margin: 10px;
    font-size: 18px;
    color: whitesmoke;
}
